@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@font-face {
  font-family: "NeueMontreal";
  src: url("./assets/NeueMontreal-Regular.otf");
  /* Neue Montreal is free for personal use - this is a personal portfolio, for commercial use licensing, visit: https://pangrampangram.com/products/neue-montreal?variant=32840648097846 */
}
:root {
  --black-green: #1f2a13;
  --main-green: #48512a;
  --mustard: #d3802f;
  --pale-pink: #f6ebe0;
  --purple: #564a72;
}
